# STRINGS

## STRINGS OPERATION

## String Concatenation

In [17]:
string1 = "Hello"
string2 = "World"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Hello World

## String Length:

In [18]:
my_string = "Python"
length = len(my_string)
print("Length of the string:", length)

Length of the string: 6

## String Replacement:

In [19]:
original_string = "Hello, World!"
replaced_string = original_string.replace("World", "Universe")
print("Replaced string:", replaced_string)

Replaced string: Hello, Universe!

# DATA TYPES

## Integer:

In [20]:
x = 5
print(x)

5

## Float:

In [21]:
y = 3.14
print(y)

3.14

## Strings

In [22]:
name = "Alice"
print(name)

Alice

## List:

In [23]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

# LOOPS

In [24]:
# Using a for loop to print numbers from 1 to 5
for i in range(1, 6):
    print(i)

# Using a while loop to print numbers from 1 to 5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5
1
2
3
4
5

## IF ELSE:

In [28]:
# Checking if a number is even or odd
num = 7
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

# Checking if a number is positive, negative, or zero
num = -5
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Odd
Negative

# FUNCTION

In [29]:
def add_numbers(a, b):
    return a + b

# Example usage:
result = add_numbers(3, 5)
print("The sum is:", result)

The sum is: 8

# CLASSES

In [30]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

my_car = Car("Toyota", "Camry", 2020)
print(f"{my_car.year} {my_car.make} {my_car.model}")

2020 Toyota Camry

# NUMPY AND PANDAS

## USING NUMPY

In [32]:
import numpy as np

# Creating a NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Performing basic operations on the array
print("Array:", arr)
print("Sum:", np.sum(arr))
print("Mean:", np.mean(arr))
print("Max:", np.max(arr))
print("Min:", np.min(arr))

Array: [1 2 3 4 5]
Sum: 15
Mean: 3.0
Max: 5
Min: 1

## USING PANDAS

In [33]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

df = pd.DataFrame(data)

# Displaying the DataFrame
print("DataFrame:")
print(df)

# Basic DataFrame operations
print("Shape:", df.shape)
print("Columns:", df.columns)
print("Index:", df.index)
print("Describe:")
print(df.describe())

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
Shape: (4, 3)
Columns: Index(['Name', 'Age', 'City'], dtype='object')
Index: RangeIndex(start=0, stop=4, step=1)
Describe:
             Age
count   4.000000
mean   32.500000
std     6.454972
min    25.000000
25%    28.750000
50%    32.500000
75%    36.250000
max    40.000000